[gcode_macro PRIME_LINE]
gcode: 
  M117 Printing prime line...
  G92 E0 ; Reset Extruder
  G1 Z2.0 F3000 ; Move Z Axis up little to prevent scratching of Heat Bed
  G1 X0.1 Y20 Z0.3 F5000.0 ; Move to start position
  G1 X0.1 Y200.0 Z0.3 F1500.0 E15 ; Draw the first line
  G1 X0.4 Y200.0 Z0.3 F5000.0 ; Move to side a little
  G1 X0.4 Y20 Z0.3 F1500.0 E30 ; Draw the second line
  G92 E0 ; Reset Extruder
  G1 Z2.0 F3000 ; Move Z Axis up little to prevent scratching of Heat Bed
  G1 X5 Y20 Z0.3 F5000.0 ; Move over to prevent blob squish

# START_PRINT to remove custom gcode from Cura, START_PRINT BED_TEMP={material_bed_temperature_layer_0} EXTRUDER_TEMP={material_print_temperature_layer_0}
[gcode_macro START_PRINT]
gcode:
  {% set BED_TEMP = params.BED_TEMP|default(60)|float %}
  {% set EXTRUDER_TEMP = params.EXTRUDER_TEMP|default(210)|float %}
  M117 Homing...
  G90
  SET_GCODE_OFFSET Z=0.0
  G28
  BED_MESH_PROFILE LOAD=default
  G1 X15 Y20 Z5 F6000
  M117 Waiting for temperature...
  M140 S{BED_TEMP}
  {% if printer.heater_bed.temperature > params.BED_TEMP|float*0.85 %}
      M140 S{BED_TEMP}
      M109 S{EXTRUDER_TEMP} 
      M190 S{BED_TEMP}
  {% else %}
      M190 S{params.BED_TEMP|float*0.85} # wait till 0.85 of bed temp is reached, then continue
      M140 S{BED_TEMP} 
      M109 S{EXTRUDER_TEMP}
      M190 S{BED_TEMP}
  {% endif %}
  PRIME_LINE
  M117 Printing...

# END_PRINT to remove custom gcode from Cura, END_PRINT
[gcode_macro END_PRINT]
gcode:
  M117 Print complete!
  G91 ;Relative positioning
  G1 E-2 F2700 ;Retract a bit
  G1 E-2 Z0.2 F2400 ;Retract and raise Z
  G1 X5 Y5 F3000 ;Wipe out
  G1 Z10 ;Raise Z more
  G90 ;Absolute positioning
  
  G1 X0 Y220 ;Present print
  M106 S0 ;Turn-off fan
  M104 S0 ;Turn-off hotend
  M140 S0 ;Turn-off bed
  
  M84 X Y E ;Disable all steppers but Z
  #BED_MESH_CLEAR

[gcode_macro PID_CALIBRATE_BED]
description: Run bed PID calibration test
default_parameter_TARGET_TEMP: 60
gcode:
  PID_CALIBRATE HEATER=heater_bed TARGET={TARGET_TEMP}
  M500

[gcode_macro PID_CALIBRATE_HOTEND]
description: Run hotend PID calibration test
default_parameter_TARGET_TEMP: 205
gcode:
  PID_CALIBRATE HEATER=extruder TARGET={TARGET_TEMP}
  M500

# Park Head
[gcode_macro M125]
gcode:
  SAVE_GCODE_STATE NAME=M125_state
  M117 Parking toolhead
  G91
  G1 Z20 F600 # move up 5 mm
  G90
  G1 X125 Y0 F4000 # move to park position
  RESTORE_GCODE_STATE NAME=M125_state

# Load filament
[gcode_macro M701]
gcode:
  SAVE_GCODE_STATE NAME=M701_state
  M117 Loading Filament
  M83
  G92 E0.0
  LOW_TEMP_CHECK
  G1 E420 F6000  # length of bowden tube till cold-end (~420mm) 
  G1 E100 F200  # some extra to prime the nozzle --> slower 
  G92 E0.0
  RESTORE_GCODE_STATE NAME=M701_state
    
# Unload filament
[gcode_macro M702]
gcode:
  SAVE_GCODE_STATE NAME=M702_state
  M125 # park
  M117 Unloading Filament 
  LOW_TEMP_CHECK
  G91 # set relative
  G1 E10 F100 
  G92 E0.0
  G1 E-530 F6000 # the E is the length of the bowden tube (420mm) + 100 mm. 
  G92 E0.0
  RESTORE_GCODE_STATE NAME=M702_state

# Filament Change
[gcode_macro M600]
gcode:
  {% set X = params.X|default(50)|float %}
  {% set Y = params.Y|default(0)|float %}
  {% set Z = params.Z|default(10)|float %}
  SAVE_GCODE_STATE NAME=M600_state
  PAUSE
  G91
  G1 E-.8 F2700
  G1 Z{Z}
  G90
  G1 X{X} Y{Y} F3000
  G91
  G1 E-50 F1000
  RESTORE_GCODE_STATE NAME=M600_state